@model Fight4FitGenNHibernate.CEN.Fight4Fit.ReporteCEN

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Borrar reporte</h2>

<h3>¿Quieres eliminar este reporte?</h3>
<fieldset>
    <legend>ReporteCEN</legend>
</fieldset>
<p>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    
        <input type="submit" value="Borrar" />
        
    
}
    | 
    @Html.ActionLink("Cancelar", "Index")
    </p>
