@model Fight4FitGenNHibernate.CEN.Fight4Fit.FotoCEN

<h3>¿Quieres borrar esta foto?</h3>
<fieldset>
    <legend>FotoCEN</legend>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Borrar" /> |
        @Html.ActionLink("Cancelar", "Index")
    </p>
}
